*
{
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;

}
body
{
    background: linear-gradient(210deg,#FEFEFEff, #FEEFE5ff, #BBF3E6ff, #63ECE4ff, #97C4EDff);
    background-repeat: no-repeat;
    height:100vh;
}
.bodylab
{
    background: linear-gradient(210deg,#FEFEFEff, #FEEFE5ff, #BBF3E6ff, #63ECE4ff, #97C4EDff);
    background-repeat: no-repeat;
    height:fit-content;
}
.navbar{
    width: 100%;
    height: 95px;
    display: flex;
    border-bottom: 2px solid black;
    
}
.navlogo
{   float: left;
    width: 130px;
    height: 80px;
    border: 0;
    margin-top: 10px;
    margin-left: 25px;
}
.logo{
    background-size: cover;
    float: left;
    width: 145px;
    height: 120px;
    margin: 0;
    padding: 0;
}
.srm
{
    float: left;
    width: 130px;
    height: 70px;
    margin: 0;
    padding: 0;
}
.navtitle
{

    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-top: 25px;
}
.navtext
{
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    width: 475px;
    height: 70px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.srm2
{
    float: right;
    width: 130px;
    height: 70px;
    margin: 0;
    padding: 0;
}
.navlogo2{
    background-size: cover;
    float: right;
    width: 130px;
    height: 70px;
    margin: 0;
    padding: 0;
    margin-top: 9px;
    margin-left: 22.5%;
}
.panel{
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
.options
{
    justify-content: space-evenly;
    display: flex;
}
.but
{
    background-color: rgb(255, 255, 255,.8);
    height: 70px;
    width: 150px;
    font-size: 1.3rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
    border: none;
    transition: transform 450ms;
}
.lik1
{
    color: black;
    text-decoration: none;
}
.lik1:hover
{
    color: aqua;
    text-decoration: none;
}
.lik
{
    color: black;
    text-decoration: none;
}
.but:hover{
    transform: scale(1.08);
    background-color: rgba(173, 216, 230, 0.5);
    border: 2px solid black;
}
.lik:hover
{
    color: white;
    text-decoration: underline;
}
.section
{
    margin-top: 50px;
    align-items: center;
    padding-left: 65px;
    padding-right: 65px;
    justify-content: center;
}
.box
{
    background-color: rgb(255, 255, 255,.5);
    color: black;
    
    height: fit-content;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
}
.details
{
    font-size: 1.3rem;
    padding-left: 15px;
    text-align: center;
}
.intro
{
    font-size: 1.3rem;
  
    padding-left: 10px;
    padding-top: 10px;
}
.tar_details
{
    padding-left: 24px;
    font-size: 1.1rem;
}
.details1{
    font-size: 1.2rem;
    text-align: left;
    padding-left: 10px;
}
.qns
{
    padding-left: 10px;
    padding-top: 15px;
    font-size: 1.2rem;
    user-select: none;
}
.qns1
{
    padding-left: 30px;
    font-size: 1rem;
}
.opts{
    padding-left: 30px;
    font-size: 1.3rem;
}
.butsub
{
    margin-left: 15px;
    margin-bottom: 25px;
    background-color: white;
    height: 45px;
    width: 110px;
    font-size: 1.3rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
    border: none;
    transition: transform 450ms;
    font-size: .9rem;
}
.butsub1
{
    margin-left: 15px;
    margin-bottom: 25px;
    background-color: rgba(1, 1, 1, .8);
    height: 45px;
    width: 110px;
    color: white;
    font-size: 1.3rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
    border: none;
    transition: transform 450ms;
    font-size: .9rem;
    display: none;
}
#answ
{
    padding-left: 15px;
    margin-top: 10px;
    display: none;
}
.butsub1:hover{
    transform: scale(1.08);
    background-color: rgba(173, 216, 230, 0.5);
    border: 2px solid black;
    color: black;
}
.butsub:hover{
    transform: scale(1.08);
    background-color: rgba(173, 216, 230, 0.5);
    border: 2px solid black;
}
.butres
{
    margin-left: 15px;
    margin-bottom: 25px;
    background-color: rgba(255, 0, 0, .8);
    height: 45px;
    width: 110px;
    font-size: 1.3rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
    border: none;
    transition: transform 450ms;
    font-size: .9rem;
}
.butres:hover{
    transform: scale(1.08);
    background-color: white;
    border: 2px solid black;
}
.refol1
{
    font-size: 1.2rem;
}
.correctanswer
{
    color: green;
    display: none;
}
.incorrectanswer
{
    color:red;
    display: none;
}
@media screen and (max-width:500px) {
    html,body{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-y: scroll;
        overflow-x: scroll;
    }
    .bodylab
    {
        height: 100vh;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-y: scroll;
        overflow-x: scroll
    }
body
{
    background: linear-gradient(227deg,#FEFEFEff, #FEEFE5ff, #BBF3E6ff, #63ECE4ff, #97C4EDff);
    

}
.navbar{
    width: 100vh;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid black;
    
}
.navlogo
{   float: left;
    width: 75px;
    height: 70px;
    border: 0;
    margin-top: 10px;
}
.logo{
    background-size: cover;
    float: left;
    width: 75px;
    height: 70px;
    margin: 0;
    padding: 0;
}
.srm
{
    float: left;
    width: 75px;
    height: 70px;
    margin: 0;
    padding: 0;
}
.navtitle
{

    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-top: 25px;
}
.navtext
{
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    width: 275px;
    height: 70px;
    color: black;
}
.srm2
{
    float: right;
    width: 75px;
    height: 70px;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}
.navlogo2{
    background-size: cover;
    float: right;
    width: 90px;
    height: 70px;
    margin: 0;
    padding: 0;
    margin-left: 17%;

}
.but
{
    background-color: rgb(255, 255, 255,.5);
    height: 50px;
    width: 110px;
    font-size: 1.1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
    border: none;
    transition: transform 450ms;
}
.box
{
    background-color: rgb(255, 255, 255,.5);
    color: black;
    height: fit-content;
    width: 87vh;
    margin-top: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
}
.details
{
    font-size: 1.3rem;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.intro
{
    font-size: 1.3rem;
    padding-left: 10px;

}
.section
{
    margin-top: 25px;
    align-items: center;
    padding-left: 65px;
    padding-right: 40px;
    justify-content: center;
}
.panel{
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}
.options
{
    justify-content: space-evenly;
    display: flex;
   width: 100vh;
}
}
/*ListOFExperiments*/
.LofE_header{
    display: flex;
    flex-direction: row;
    margin-right: 70px;
    margin-top: 10px;
    gap:30%;
}
.goback{
    float:left;
    margin-top:20px;
    margin-left:30px;
    background-color: rgb(255, 255, 255,.5);
    height: 50px;
    width: 110px;
    font-size: 1.1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
    border: none;
    transition: transform 450ms;
}

.mainheading_LOE{
    font-size: 2.5rem;
    margin-top:30px;
    margin-right: 70px;
}
.goback a{
    text-decoration: none;
    color:white;
}

.goback a:active{
    color:white;
}

.goback a:visited{
    color:black;
}
.goback:hover{
    transform: scale(1.08);
    background-color: rgba(173, 216, 230, 0.5);
    border: 2px solid black;
}

.list{
    position: absolute;
    top:30%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.LOEButton{
    margin-top: 5%;
    border-radius: 20px;
    background-color: rgb(255, 255,255,0.5);
    padding:10px;
    width: 700px;
    border: none; 
    font-size: larger   ;

}

.LOEButton:hover{
    opacity: 0.8;
    transform: scale(1.2);
    background-color: white;
    cursor:pointer;
    border:2px solid black;
}
